POSTGRES_URL=
DATABASE_URL=

NEXT_PUBLIC_APP_URL=http://localhost:3000

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
ADMIN_EMAILS=admin@gmail.com

RESEND_API_KEY=
EMAIL_FROM=Pass.in <onboarding@seudominio.com>
